{% extends "myplaylist/layout.html" %}

{% block body %}
  <h1>Playlist: {{ playlist.name }}</h1>
      <a href="" class="card-link">
      <button type="button" class="btn btn-dark">Create recco </button>
    </a>

   {% for track in playlist.tracks.all  %}
    <div class="card mb-3" style="max-width: 540px;">
    <p class="card-text">Song: {{ track.name }}</p>
    <p class="card-text">Artist: {{ track.artist }}</p>
    <p class="card-text">Album: {{ track.album }}</p>
  </div>
  {% endfor %}


{% endblock %}
